* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    /* align-items: center; */
    font-family: 'PT Sans Narrow', sans-serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5wQZHhLOQIf8qaL-mtvAe0FWGQxl5O7n7tw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-container {
    /* border: 2px solid salmon; */
    height: 90%;
    width: 90%;
    position: relative;
}

.main-container h1 {
    /* border: 1px solid salmon; */
    width: max-content;
    margin: auto;
    margin-top: 30px;
    font-size: 50px;
    font-weight: 700;
    color: rgb(215, 187, 187);
}

button {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(18, 39, 60);
    color: white;
}

img {
    display: block;
    margin: auto;
    margin-top: 20px;
}

button:hover {
    background-color: darkred;
    font-weight: 700;
    color: white;
}

button:active {
    transform: scale(0.95);
}

.all-boxes {
    /* border: 1px solid violet; */
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.box {
    border: 1px dashed red;
    text-align: center;
    padding: 15px;
}

.box h3 {
    font-weight: 400;
    font-size: 18px;
    text-decoration: underline;
    font-style: italic;
    color: rgb(215, 67, 41);
}

.box1 {
    height: 20vh;
    width: 10%;
    
}

.box2 {
    height: 25vh;
    width: 15%;
}

.box3 {
    height: 30vh;
    width: 40%;
}

.box4 {
    height: 20vh;
    width: 10%;
}

.box5 {
    height: 30vh;
    width: 10%;
}

.box6 {
    height: 25vh;
    width: 15%;
}

p {
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 1px;
    display: none;
}

@media only screen and (max-width: 500px) {
    body {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrsj6z4xWR-n4bBphgam-9gHj2OFy3Cw7SzGhMloxEibcRx2q9KzbxKOviRrzNgSez0zk&usqp=CAU);
        height: max-content;
        padding: 15px;
    }

    .main-container {
        width: 100%;
    }

    .main-container h1 {
        color: rgba(134, 33, 33, 0.836);
    }

    .all-boxes {
        display: flex;
        flex-direction: column;
        position: static;
        margin-top: 20px;
    }

    .box {
        width: 90%;
        height: 20vh;
    }

    p {
        color: white;
        font-size: 25px;
    }
}